.price-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.price-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.price-modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.price-modal-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.price-modal-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.price-modal-label {
  flex: 1;
  font-size: 0.9rem;
  color: #333;
}

.price-modal-input {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 100%; 
  max-width: 120px; 
}
.price-modal-delete {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.price-modal-delete:hover {
  background-color: #a71d2a;
}

.price-modal-add {
  background-color: #ffc107; /* Cambiado a amarillo */
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Espaciado entre el texto y el ícono */
}

.price-modal-add:hover {
  background-color: #e0a800;
}

.price-modal-footer {
  text-align: center;
}

.price-modal-save {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.price-modal-save:hover {
  background-color: #1e7e34;
}